$mainblack: #313131;
$maingreen: #25A4AD;


* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 988px;

  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 130.07px;
    height: 130.07px;
    left: -104px;
    top: 17px;
    border: 1px solid #25A4AD;
    transform: rotate(-19.52deg);
  }

  &:after {
    content: '';
    position: absolute;
    width: 49px;
    height: 49px;
    left: 1400px;
    top: -17px;
    background: #FFC229;
    border-radius: 29.5px 29.5px 29.5px 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 35px;

    .menu {
      display: flex;
      padding-left: 55px;

      &__list {
        display: flex;
        gap: 52px;
        font-size: 22px;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: $mainblack;
            transition: 0.2s;
          }

          a:hover {
            color: $maingreen;
            transition: 0.2s;
          }
        }
      }
    }

    .menu__btn {
      display: flex;
      margin-left: 200px;
      align-items: center;
      gap: 20px;

      .btn-signin {
        font-size: 22px;
        border: none;
        background: none;
        transition: 0.2s;

        &:hover {
          color: $maingreen;
          transform: scale(105%);
          transition: 0.2s;
        }
        &:active {
          color: $maingreen;
          transform: scale(95%);
          transition: 0.2s;
        }
      }

      .btn-signup {
        font-size: 22px;
        color: $maingreen;
        width: 152px;
        height: 58px;
        background: none;
        border: 1.5px solid $maingreen;
        transition: 0.2s;

        &:hover {
          transition: 0.2s;
          transform: scale(103%);
        }

        &:active {
          transition: 0.2s;
          transform: scale(97%);
        }
      }
    }
  }

  .content {
    display: flex;
    position: relative;

    .content-header__main-header {
      margin: 0;
      padding: 220px 0 0 130px;
      font-size: 100px;
      font-weight: 100;

      .content-header__main-header--color {
        color: $maingreen;
        font-weight: 500;
      }
    }

    .content-header__description {
      font-size: 16px;
      color: $mainblack;
      width: 426px;
      margin-left: 130px;
      margin-top: 30px;
    }

    .content-image {
      display: flex;
      position: absolute;
      left: 550px;
      z-index: -1;
    }

    .content-btns {
      display: flex;
      gap: 20px;
      margin-left: 125px;

      .content-btns__get {
        background-color: $maingreen;
        border: none;
        color: #fff;
        font-size: 18px;
        width: 215px;
        height: 58px;
        box-shadow: 0 100px 80px rgba(49, 49, 49, 0.1), 0 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0 20px 13px rgba(49, 49, 49, 0.05), 0 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
        transition: 0.2s;


        &:hover {
          transform: scale(102%);
          transition: 0.2s;
        }
        &:active {
          transform: scale(98%);
          transition: 0.2s;
        }
      }

      .content-btns__explore {
        background: none;
        border: 1px solid $maingreen;
        color: $maingreen;
        font-size: 18px;
        width: 180px;
        height: 58px;
        transition: 0.2s;

        &:hover {
          transform: scale(102%);
          transition: 0.2s;
        }

        &:active {
          transform: scale(98%);
          transition: 0.2s;
        }
      }
    }
  }

  .header_ad {
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
    height: 170px;
    background-color: #F8F8F8;

    img:first-child {
      margin-left: 160px;
    }

    img:last-child {
      margin-right: 160px;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  margin-top: 70px;

  &__header {
    color: $mainblack;
    text-align: center;
    font-size: 65px;
    font-weight: 200;
    margin: 0;

    span {
      color: $maingreen;
      font-weight: 600;
    }
  }

  &__description {
    display: block;
    font-size: 16px;
    width: 620px;
    margin: 10px auto;
    text-align: center;
  }

  &__cards {
    margin: 60px auto;
    width: 1004px
  }

  &__btn {
    align-self: center;
    background: none;
    border: 1px solid $maingreen;
    color: $maingreen;
    font-size: 18px;
    width: 215px;
    height: 58px;
    transition: 0.2s;

    &:hover {
      transform: scale(102%);
      transition: 0.2s;
    }
    &:active {
      transform: scale(98%);
      transition: 0.2s;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: rgba(248, 248, 248, 1);
  min-height: 863px;

  &__header {
    margin-top: 80px;
  }

  &__description {
    margin-top: 30px;
  }

  .features-blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    .card {
      display: flex;
      flex-direction: column;
      margin: 0 70px;
      border: 1px solid #D8D8D8;
      width: 350px;
      height: 342px;

      h5 {
        color: $mainblack;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
      }

      p {
        color: $mainblack;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
      }

      a {
        margin-top: 50px;
        align-self: center;
        color: $mainblack;


      }

      a:hover {
        color: $maingreen;
        transition: 0.1s;
      }
    }

    .card:hover {
      background: #fff;
      box-shadow: 0 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0 20px 13px rgba(49, 49, 49, 0.05), 0 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
      border: none;
      transition: 0.4s;
    }

    .card:hover h5 {
      color: $maingreen;
    }
  }

  .features__btn {
    margin-top: 80px;
  }
}

.clients {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 80px;
  }

  p {
    margin-top: 50px;
  }

  .client {
    display: flex;
    margin: 100px auto;

    &--description {
      width: 668px;
      margin-left: 15px;
      background: #F8F8F8;
      border-radius: 0 0 236px 0;

      h5 {
        margin-left: 50px;
        margin-top: 100px;
        color: $mainblack;
        font-size: 22px;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        margin-left: 50px;
      }

      img {
        margin-left: 50px;
      }

      span {
        display: block;
        margin-left: 50px;
      }

      .client--description__name {
        font-size: 16px;
        margin-top: 15px;
      }

      .client--description__role {
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }

  .clients__buttons {
    display: flex;
    justify-content: center;

    .clients__btn--left {
      margin-right: 5px;
      width: 33px;
      height: 23px;
      border: none;
      background-color: transparent;
      background-image: url("/img/left-arr.svg");
      background-repeat: no-repeat;
      transition: 0.2s;

      &:hover {
        transform: scale(105%);
        transition: 0.2s;
      }
    }

    .clients__btn--right {
      margin-left: 5px;
      width: 33px;
      height: 23px;
      border: none;
      background-color: transparent;
      background-image: url("/img/right-arr.svg");
      background-repeat: no-repeat;
      transition: 0.2s;

      &:hover {
        transform: scale(105%);
        transition: 0.2s;
      }
    }
  }
}

.pricing {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 70px;

  .pricing__cards {
    display: flex;
    gap: 40px;
    margin: 130px auto 0;

    .pricing-card {
      display: flex;
      flex-direction: column;
      width: 362px;
      height: 508px;
      border: 1px solid #D8D8D8;
      transition: 0.3s;

      h6 {
        font-size: 30px;
        margin: 50px auto 0;
      }

      p {
        font-size: 60px;
        font-weight: 600;
        margin: 50px auto 0;
      }

      ul {
        list-style: url("../img/list.svg");
        font-size: 16px;
        align-self: center;

        li {
          padding: 5px;
        }
      }
    }


    .pricing-btns__btn {
      display: block;
      margin: 20px auto;
      background: none;
      border: 1px solid $maingreen;
      color: $maingreen;
      font-size: 18px;
      width: 278px;
      height: 60px;
      transition: 0.2s;

      &:hover {
        transform: scale(102%);
        transition: 0.2s;
        background-color: $maingreen;
        color: #fff;
      }
      &:active {
        transform: scale(98%);
        transition: 0.2s;
      }

    }

    .pricing-btns__btn--margin {
      margin-top: 75px;
    }
  }

  .pricing-card:hover {
    border: none;
    box-shadow: 0 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0 20px 13px rgba(49, 49, 49, 0.05), 0 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    transform: translate(0, -60px);
    transition: 0.3s;
  }


  .pricing-card:hover ul {
    color: $maingreen;
    list-style: url("../img/list-green.svg");
  }
}

.faqs {
  display: flex;
  flex-direction: column;

  .faqs-header {
    margin-bottom: 60px;
  }

  .faq {
    display: grid;
    grid-template-columns: 95px 1fr;
    width: 706px;
    margin: 25px auto;
    box-shadow: 0 20px 95px rgba(201, 203, 204, 0.6);
    border-radius: 10px;
    min-height: 100px;
    transition: 0.2s;

    .faq-icon {
      display: flex;

      .plus-minus {
        content: url("../img/plusicon.svg");
        width: 26px;
        height: 26px;
        margin: auto;
      }
    }

    .faq-text {
      display: flex;
      flex-direction: column;

      .faqs-title {
        margin: auto 0;
        width: 569px;
        font-size: 20px;
      }

      .faqs-description {
        display: none;
        margin: auto 0;
        font-weight: 300;
        width: 569px;
        font-size: 16px;
      }
    }
  }

  .faq:active {
    height: 230px;
    transition: 0.5s;
  }

  .faq:active .faqs-description {
    display: block;
    transition: 1s;
  }

  .faq:active .plus-minus {
    content: url("../img/minusicon.svg");
    transition: 0.5s;
  }
}

.footer {
  display: flex;
  height: 950px;
  background: #313131;
  margin-top: 150px;
  position: relative;
  overflow: hidden;

  .triangle-left {
    position: absolute;
    width: 383px;
    height: 383px;
    left: 0;
    top: 0;
    background: transparent;
    border-top: 383px solid #2C2C2C;
    border-right: 383px solid transparent;
  }

  .triangle-right {
    position: absolute;
    width: 383px;
    height: 383px;
    top: 0;
    right: 0;
    background: transparent;
    border-top: 383px solid #2C2C2C;
    border-left: 383px solid transparent;
  }

  .triangle-leftb {
    position: absolute;
    width: 383px;
    height: 383px;
    bottom: 0;
    left: 0;
    background: transparent;
    border-bottom: 383px solid #2C2C2C;
    border-right: 383px solid transparent;
  }

  .triangle-rightb {
    position: absolute;
    width: 383px;
    height: 383px;
    bottom: 0;
    right: 0;
    background: transparent;
    border-bottom: 383px solid #2C2C2C;
    border-left: 383px solid transparent;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .footer-content__title {
      display: flex;
      flex-direction: column;

      h2 {
        padding-top: 150px;
        margin: 0 auto;
        font-size: 65px;
        line-height: 76px;
        width: 767px;
        color: #fff;
        text-align: center;
      }

      .footer-content__button {
        margin-top: 80px;
        font-size: 22px;
        color: #fff;
        width: 218px;
        height: 65px;
        background: none;
        border: 1.5px solid #fff;
        transition: 0.2s;
        align-self: center;

        &:hover {
          color: $maingreen;
          transition: 0.2s;
          border: 1.5px solid $maingreen;
        }
        &:active {
          color: $maingreen;
          transition: 0.2s;
          border: 1.5px solid $maingreen;
          transform: scale(98%);
        }
      }
    }

    .footer-links {
      display: flex;
      justify-content: space-between;
      margin: 150px auto;
      z-index: 1;

      &__logo {
        h2 {
          color: #fff;
          font-size: 40px;
          margin: 0;
        }

        p {
          margin-top: 50px;
          color: white;
          width: 168px;
          height: 30px;
          font-size: 12px;
        }
      }

      &__links {
        margin-left: 160px;
        margin-top: 10px;

        p {
          margin: 0;
          color: #fff;
          font-size: 14px;
          font-weight: 600;
        }

        ul {
          list-style: none;
          padding: 20px 0;
          color: white;
          font-size: 12px;

          li {
            padding-top: 25px;

            a {
              text-decoration: none;
              color: #fff;
              transition: 0.2s;

              &:hover {
                color: $maingreen;
                transition: 0.2s;
              }
            }
          }
        }
      }
    }

    .footer-year {
      display: flex;

      p {
        margin: 0 auto;
        font-size: 12px;
        line-height: 14px;
        font-feature-settings: 'liga' off;
        color: #fff;
      }
    }
  }
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  visibility: hidden;


  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, .95);
    width: 500px;
    min-height: 250px;
    max-width: 100%;
    transition: transform 0.15s ease 0.5s, opacity 0.15s ease 0.5s;
    transform: scale(1);
    overflow: visible;
    opacity: 0;
    border: 1px solid $maingreen;
    border-radius: 10px;
    box-shadow: 0 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0 20px 13px rgba(49, 49, 49, 0.05), 0 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);

    h3 {
      text-align: center;
      font-size: 30px;
      font-weight: 400;
      background-color: $maingreen;
      width: 100%;
      height: 120px;
      border-bottom: 2px solid $mainblack;
      margin: 0 0 15px 0;
      padding-top: 45px;
    }

    p {
      button {
        border: none;
        background: transparent;
        font-size: 16px;
        padding: 0;
        border-bottom: 2px solid $maingreen;
        transition: 0.2s;

        &:hover {
          transform: scale(103%);
          transition: 0.2s;
        }
      }
    }

    label {
      margin-left: 150px;
      margin-right: auto;
      margin-bottom: 3px;
    }

    input {
      width: 200px;
      height: 25px;
      border: 1px solid $maingreen;
      border-radius: 5px;
      margin-bottom: 5px;
      padding-left: 5px;
    }

    .form-avatar {
      height: 32px;
      padding-top: 5px;
    }

    select {
      width: 200px;
      margin-left: 150px;
      margin-right: auto;
      border: 1px solid $maingreen;
      border-radius: 5px;
      height: 25px;
    }

    .form-buttons {
      display: flex;
      border-bottom: 1px solid black;


      .modal__signup {
        display: inline-block;
        margin-top: 20px;
        background: transparent;
        width: 100px;
        height: 35px;
        font-size: 20px;
        border: 1px solid $maingreen;
        color: $maingreen;
        margin-right: 5px;
        margin-bottom: 10px;

        &:hover {
          transform: scale(102%);
          transition: 0.2s;
        }

        &:active {
          transform: scale(98%);
          transition: 0.2s;
        }

        &:last-child {
          margin-left: 5px;
          border-color: #7e2b2b;
          color: #7e2b2b;
        }
      }

      .modal__exit {
        position: absolute;
        border: none;
        background-image: url("../img/cross.svg");
        background-color: transparent;
        content: '';
        width: 30px;
        height: 30px;
        right: 15px;
        top: 15px;

        &:hover {
          border: 2px solid black;
          border-radius: 50px;
        }
      }
    }
  }
}

.modal--active {
  visibility: visible;
}

.modal-wrapper--active {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.15s ease 0.5s, opacity 0.15s ease 0.5s;
}